/*
!/fontconfig/
!/helix/
!/lazydocker/
!/lazygit/
!/regolith3/
!/vicinae/
!/wezterm/
!/zcripts/
!/zed/
!/zsh/
!.gitconfig_personal
!.gitconfig_work
!.gitignore
!.zshrc
!catppuccin-powerline.toml
!gruvbox-rainbow.toml
!jetpack.toml
!starship.toml
!/worktrunk/
/worktrunk/__pycache__/
